# make sshd close all sessions cleanly on reboot/shutdown
# credit: Petr Lautrbach
# See: https://bugzilla.redhat.com/show_bug.cgi?id=1023788#c2

[Unit]
Description=kill all sshd sessions
Requires=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/killall sshd
Type=oneshot

[Install]
WantedBy=shutdown.target reboot.target poweroff.target

