Source: brickstrap
Maintainer: David Lechner <david@lechnology.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>=8.0.0)
VCS-Git: git://github.com/ev3dev-dpkg/brickstrap.git
VCS-Browser: https://github.com/ev3dev-dpkg/brickstrap.git

Package: brickstrap
Architecture: all
Depends: qemu-user-static (>= 1.0), multistrap, libguestfs-tools, ${misc:Depends}
Description: multistrap wrapper to build rootfs for ev3dev
 This package allows one to build a foreign debian rootfs  without the need of
 superuser priviliges using kernel namespaces, multistrap and qemu user mode
 emulation
