Source: brickstrap
Maintainer: David Lechner <david@lechnology.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>=8.0.0), pandoc
VCS-Git: https://github.com/ev3dev/brickstrap.git
VCS-Browser: https://github.com/ev3dev/brickstrap.git

Package: brickstrap
Architecture: all
Depends: docker | docker-ce, linux-image, libguestfs-tools, ${misc:Depends}
Recommends: qemu-user-static
Description: Create bootable disk images from Docker images
 Tool to create bootable disk images from Docker images targeted at embedded
 systems.
